<h1>Products#index</h1>
<% if !@products.empty? %>
	<table class="table table-bordered">
		<tr>
		 	<th>Product</th>
		 	<th>Price</th>
		</tr>
		<% @products.each do |product| %>
			<tr>
				<td><%= product.name %></td>
				<td><%= product.price %></td>
			</tr>
		<% end %>
	</table>
<% else %>
	<h4>No products found</h4>
<% end %>